Source: leterrier-tierce
Section: misc
Priority: extra
Maintainer: Eric Seigne <eric.seigne@ryxeo.com>
Build-Depends: cdbs, libqtwebkit-dev | libqt4-webkit(<<4:4.8.1), qt4-qmake, libqt4-dev, libqt4-phonon-dev | libphonon-dev, phonon, zlib1g-dev, libpulse-dev, libexiv2-dev, libqt4-webkit
Standards-Version: 3.8.3
Homepage: http://www.abuledu.org/leterrier/
Vcs-Browser: https://redmine.ryxeo.com/projects/leterrier-tierce/issues

Package: leterrier-tierce
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-xml
Description: Un jeu de Tierce
 Complétez la grille pour atteindre la bonne somme 
 pour chaque ligne et colonne ...
 Ce logiciel fait partie du Terrier d'AbulEdu
