Source: leterrier-tierce
Section: misc
Priority: extra
Maintainer: Jean-Louis Frucot <frucot.jeanlouis@free.fr>
Build-Depends: debhelper (>=7.3.15), cdbs, qt4-qmake, libqt4-dev
Standards-Version: 3.8.3
Homepage: http://www.abuledu.org/leterrier/

Package: leterrier-tierce
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-xml
Description: Un jeu de Tierce
 Complétez la grille pour atteindre la bonne somme 
 pour chaque ligne et colonne ...
 Ce logiciel fait partie du Terrier d'AbulEdu
