
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=leterrier-tierce
Name=AbulEdu Tierce
Comment=Un jeu de Tierce
Icon=/usr/share/leterrier-tierce/leterrier-tierce-256.png
Categories=Education;
