
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[fr]=/usr/share/leterrier-tierce/data/images/tierce-icone-256.png
Name[fr]=AbulEdu Tierce
Exec=leterrier-tierce
Comment[fr]=Un jeu de Tierce
Name=AbulEdu Tierce
Comment=Un jeu de Tierce
Icon=/usr/share/leterrier-tierce/data/images/tierce-icone-256.png
Categories=Education;
