#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

#faire un choix ici de la version de qt a utiliser
#tant qu'on peut faire le choix ...
QTVERSION=4

ifeq ($(QTVERSION),5)
  #qt5
  DEB_DH_SHLIBDEPS_ARGS := -- --ignore-missing-info
  QMAKE=/opt/qt-5.0-officiel/5.1.1/gcc_64/bin/qmake
else
  #qt4
  QMAKE=qmake-qt4
  QTPLUGINS=/usr/lib/qt4/plugins
endif

QTDIR=/usr
#QTPLUGINS=/usr/lib/qt4/plugins
#QMAKE=qmake-qt4 #apres jaunty
CFLAGS=-O3
CXXFLAGS=-O3
EXECNAME=leterrier-tierce
DEST=/usr/share/$(EXECNAME)
EXECDEST=/usr/lib/$(EXECNAME)
BUILDTEMP=$(CURDIR)/debian/$(EXECNAME)

MANPAGES := $(CURDIR)/debian/$(EXECNAME).1

install/$(EXECNAME)::
	install -d -m 755 $(BUILDTEMP)/usr/bin/
	install -d -m 755 $(BUILDTEMP)/$(EXECDEST)
	install -d -m 755 $(BUILDTEMP)/$(DEST)/data/icones
	install -d -m 755 $(BUILDTEMP)/$(DEST)/conf
	install -d -m 755 $(BUILDTEMP)/$(DEST)/lang
	install -d -m 755  $(BUILDTEMP)/usr/share/applications
	install -m 755 $(CURDIR)/debian/*.wrapper $(BUILDTEMP)/usr/bin/${EXECNAME}
	install -m 644 $(CURDIR)/debian/*.desktop $(BUILDTEMP)/usr/share/applications/
	install -s -m 755 $(CURDIR)/src/$(EXECNAME) $(BUILDTEMP)/$(EXECDEST)/
	install -m 644 $(CURDIR)/src/data/icones/*$(EXECNAME)*-256.png $(BUILDTEMP)/$(DEST)/
	install -m 644 $(CURDIR)/src/lang/*.qm $(BUILDTEMP)/$(DEST)/lang || true

configure/$(EXECNAME)::
ifeq ($(QTVERSION),5)
	echo "leterrier:Depends=leterrier-qt5-libs" >> debian/$(EXECNAME).substvars
endif

