#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

QMAKE=qmake-qt4 #pour jaunty
QTDIR=/usr
QTPLUGINS=/usr/lib/qt4/plugins
#QMAKE=qmake-qt4 #apres jaunty
CFLAGS=-O3
CXXFLAGS=-O3
EXECNAME=leterrier-tierce
DEST=/usr/share/$(EXECNAME)
EXECDEST=/usr/lib/$(EXECNAME)
BUILDTEMP=$(CURDIR)/debian/$(EXECNAME)

MANPAGES := $(CURDIR)/debian/$(EXECNAME).1

install/$(EXECNAME)::
	install -d -m 755 $(BUILDTEMP)/usr/bin/
	install -d -m 755 $(BUILDTEMP)/$(EXECDEST)
	install -d -m 755 $(BUILDTEMP)/$(DEST)/data/picto
	install -d -m 755 $(BUILDTEMP)/$(DEST)/conf
	install -d -m 755 $(BUILDTEMP)/$(DEST)/lang
	install -d -m 755 $(BUILDTEMP)/usr/share/applications
	install -m 755 $(BUILDTEMP).wrapper $(BUILDTEMP)/usr/bin/$(EXECNAME)
	install -m 644 $(CURDIR)/debian/*.desktop $(BUILDTEMP)/usr/share/applications/
	install -m 644 $(CURDIR)/data/*.abe $(BUILDTEMP)/$(DEST)/data || true
	install -m 644 $(CURDIR)/exemples/*.abe $(BUILDTEMP)/$(DEST)/data || true
	install -s -m 755 $(CURDIR)/$(EXECNAME) $(BUILDTEMP)/$(EXECDEST)/
	install -m 644 $(CURDIR)/data/icones/*$(EXECNAME)*-256.png $(BUILDTEMP)/$(DEST)/data/icones/
	install -m 644 $(CURDIR)/lang/*.qm $(BUILDTEMP)/$(DEST)/lang || true

